{
  "env": {
    "CLAUDE_CODE_DISABLE_FEEDBACK_SURVEY": "1"
  },
  "permissions": {
    "defaultMode": "plan"
    "allow": [
      "Bash(npx tsc:*)",
      "Bash(npx ngc:*)",
      "Bash(echo:*)",
      "Bash(cp:*)",
      "Bash(grep:*)",
      "Bash(find:*)",
      "Bash(moon:*)",
      "Bash(for:*)",
      "Bash(cd:*)",
      "Bash(xargs:*)",
      "Edit",
      "Write"
    ]
  },
}
